<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More About Thyroid</title>
    <link rel="stylesheet" type="text/css" href="static/css/moreinfo.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="static/images/banner_1.png" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="mainheader">

            <nav class="nav">
                <div class="container">
                    <div class="logo">
                        <img src="static/images/banner_1.png">
                    </div>
                    <div id="mainListDiv" class="main_list">
                        <ul class="navlinks">
                            <li><a href="/">Home</a></li>
                            <li><a href="https://ganeshthorat.herokuapp.com" target="_blank">Portfolio</a></li>
                            <li><a href="mailto: thorat.ganeshscoe@gmail.com" target="_blank">Contact</a></li>
                        </ul>
                    </div>
                    <span class="navTrigger">
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                </div>
            </nav>
        </div>
    </header>
    <article>
        <h1>Thyroid Disease: Causes, Symptoms, Risk Factors, Testing & Treatment</h1>
        <br><br>
        <hr><br><br>
        <h2>What is the thyroid?</h2><br>
        <p>The thyroid gland is a small organ that’s located in the front of the neck,
            wrapped around the windpipe (trachea).
            It’s shaped like a butterfly, smaller in the middle with two wide wings
            that extend around the side of your throat. The thyroid is a gland.
            You have glands throughout your body, where they create and release
            substances that help your body do a specific thing. Your thyroid makes
            hormones that help control many vital functions of your body.
        </p> <br>
        <p>When your thyroid doesn’t work properly, it can impact your entire body.
            If your body makes too much thyroid hormone, you can develop a condition
            called hyperthyroidism. If your body makes too little thyroid hormone,
            it’s called hypothyroidism. Both conditions are serious and need to be
            treated by your healthcare provider.
        </p><br>
        <h2>What does the thyroid do?</h2><br>
        <p>
            Your thyroid has an important job to do within your body — releasing and
            controlling thyroid hormones that control metabolism. Metabolism is a process
            where the food you take into your body is transformed into energy.
            This energy is used throughout your entire body to keep many of your body’s
            systems working correctly. Think of your metabolism as a generator. It takes
            in raw energy and uses it to power something bigger.
        </p><br>
        <p>
            The thyroid controls your metabolism with a few specific hormones — T4 (thyroxine, contains four iodide
            atoms) and T3 (triiodothyronine, contains three iodide atoms). These two hormones are created by the thyroid
            and they tell the body’s cells how much energy to use. When your thyroid works properly, it will maintain
            the right amount of hormones to keep your metabolism working at the right rate. As the hormones are used,
            the thyroid creates replacements.
        </p><br>
        <p>
            This is all supervised by something called the pituitary gland. Located in the center of the skull, below
            your brain, the pituitary gland monitors and controls the amount of thyroid hormones in your bloodstream.
            When the pituitary gland senses a lack of thyroid hormones or a high level of hormones in your body, it will
            adjust the amounts with its own hormone. This hormone is called thyroid stimulating hormone (TSH). The TSH
            will be sent to the thyroid and it will tell the thyroid what needs to be done to get the body back to
            normal.
        </p><br>
        <h2>What is thyroid disease?</h2><br>
        <p>
            Thyroid disease is a general term for a medical condition that keeps your thyroid from making the right
            amount of hormones. Your thyroid typically makes hormones that keep your body functioning normally. When the
            thyroid makes too much thyroid hormone, your body uses energy too quickly. This is called hyperthyroidism.
            Using energy too quickly will do more than make you tired — it can make your heart beat faster, cause you to
            lose weight without trying and even make you feel nervous. On the flip-side of this, your thyroid can make
            too little thyroid hormone. This is called hypothyroidism. When you have too little thyroid hormone in your
            body, it can make you feel tired, you might gain weight and you may even be unable to tolerate cold
            temperatures.
        </p><br>
        <p>
            These two main disorders can be caused by a variety of conditions. They can also be passed down through
            families (inherited).
        </p><br>

        <h2>Who is affected by thyroid disease?</h2><br>
        <p>Thyroid disease can affect anyone — men, women, infants, teenagers and the elderly. It can be present at
            birth (typically hypothyroidism) and it can develop as you age (often after menopause in women).
        </p><br>
        <p>Thyroid disease is very common, with an estimated 20 million people in the Unites States having some type of
            thyroid disorder. A woman is about five to eight times more likely to be diagnosed with a thyroid condition
            than a man.
        </p><br>
        <p>
            You may be at a higher risk of developing a thyroid disease if you:
        </p><br>
        <ul>
            <li>Have a family history of thyroid disease.</li>
            <li>Have a medical condition (these can include pernicious anemia, type 1 diabetes, primary adrenal
                insufficiency, lupus, rheumatoid arthritis, Sjögren’s syndrome and Turner syndrome).</li>
            <li>Take a medication that’s high in iodine (amiodarone).</li>
            <li>Are older than 60, especially in women.</li>
            <li>Have had treatment for a past thyroid condition or cancer (thyroidectomy or radiation).</li>
        </ul><br>
        <h2>Symptoms and Causes </h2><br>
        <h2>What causes thyroid disease?</h2><br>
        <p>
            The two main types of thyroid disease are hypothyroidism and hyperthyroidism. Both conditions can be caused
            by other diseases that impact the way the thyroid gland works.
        </p><br>
        <p>
            Conditions that can cause hypothyroidism include:
        </p><br>
        <ul>
            <li><b>Thyroiditis:</b> This condition is an inflammation (swelling) of the thyroid gland. Thyroiditis can
                lower
                the amount of hormones your thyroid produces. </li>
            <li><b>Hashimoto’s thyroiditis:</b>A painless disease, Hashimoto’s thyroiditis is an autoimmune condition
                where
                the body’s cells attack and damage the thyroid. This is an inherited condition.</li>
            <li><b>Postpartum thyroiditis:</b> This condition occurs in 5% to 9% of women after childbirth. It’s usually
                a temporary condition. </li>
            <li><b>Iodine deficiency:</b> Iodine is used by the thyroid to produce hormones. An iodine deficiency is an
                issue that affects several million people around the world.. </li>
            <li><b>A non-functioning thyroid gland: </b>Sometimes, the thyroid gland doesn’t work correctly from birth.
                This affects about 1 in 4,000 newborns. If left untreated, the child could have both physical and mental
                issues in the future. All newborns are given a screening blood test in the hospital to check their
                thyroid function.</li>
        </ul><br>
        <p>
            Conditions that can cause hyperthyroidism include:
        </p><br>

        <ul>
            <li><b>Graves’ disease:</b>In this condition the entire thyroid gland might be overactive and produce too
                much hormone. This problem is also called diffuse toxic goiter (enlarged thyroid gland). </li>
            <li><b>Nodules:</b>Hyperthyroidism can be caused by nodules that are overactive within the thyroid. A single
                nodule is called toxic autonomously functioning thyroid nodule, while a gland with several nodules is
                called a toxic multi-nodular goiter. </li>
            <li><b>Thyroiditis:</b>This disorder can be either painful or not felt at all. In thyroiditis, the thyroid
                releases hormones that were stored there. This can last for a few weeks or months.</li>
            <li><b>Excessive iodine:</b>When you have too much iodine (the mineral that is used to make thyroid
                hormones) in your body, the thyroid makes more thyroid hormones than it needs. Excessive iodine can be
                found in some medications (amiodarone, a heart medication) and cough syrups. </li>
        </ul><br>
        <h2>Is there a higher risk of developing thyroid disease if I have diabetes?</h2><br>
        <p>
            If you have diabetes, you’re at a higher risk of developing a thyroid disease than people without diabetes.
            Type 1 diabetes is an autoimmune disorder. If you already have one autoimmune disorder, you are more likely
            to develop another one.
        </p><br>
        <p>
            For people with type 2 diabetes, the risk is lower, but still there. If you have type 2 diabetes, you’re
            more likely to develop a thyroid disease later in life.
        </p><br>
        <p>
            Regular testing is recommended to check for thyroid issues. Those with type 1 diabetes may be tested more
            often — immediately after diagnosis and then every year or so — than people with type 2 diabetes. There
            isn’t a regular schedule for testing if you have type 2 diabetes, however your healthcare provider may
            suggest a schedule for testing over time.
        </p><br>
        <p>
            If you have diabetes and get a positive thyroid test, there are a few things to you can do to help feel the
            best possible. These tips include:
        </p><br>

        <ul>
            <li>Getting enough sleep.</li>
            <li>Exercising regularly. </li>
            <li>Watching your diet. </li>
            <li>Taking all of your medications as directed. </li>
            <li>Getting tested regularly as directed by your healthcare provider. </li>
        </ul><br>
        <h2>What common symptoms can happen with thyroid disease?</h2><br>
        <p>
            There are a variety of symptoms you could experience if you have a thyroid disease. Unfortunately, symptoms
            of a thyroid condition are often very similar to the signs of other medical conditions and stages of life.
            This can make it difficult to know if your symptoms are related to a thyroid issue or something else
            entirely.
        </p><br>
        <p>
            For the most part, the symptoms of thyroid disease can be divided into two groups — those related to having
            too much thyroid hormone (hyperthyroidism) and those related to having too little thyroid hormone
            (hypothyroidism).
        </p><br>
        <p>Symptoms of an overactive thyroid (hyperthyroidism) can include: </p><br>
        <ul>
            <li>Experiencing anxiety, irritability and nervousness. </li>
            <li>Having trouble sleeping. </li>
            <li>Losing weight.</li>
            <li>Having an enlarged thyroid gland or a goiter.</li>
            <li>Having muscle weakness and tremors. </li>
            <li>Experiencing irregular menstrual periods or having your menstrual cycle stop. </li>
            <li>Feeling sensitive to heat. </li>
            <li>Having vision problems or eye irritation. </li>
        </ul><br>
        <p>Symptoms of an underactive thyroid (hypothyroidism) can include: </p><br>
        <ul>
            <li>Feeling tired (fatigue).</li>
            <li>Gaining weight.</li>
            <li>Experiencing forgetfulness.</li>
            <li>Having frequent and heavy menstrual periods.</li>
            <li>Having dry and coarse hair.</li>
            <li>Having a hoarse voice. </li>
            <li>Experiencing an intolerance to cold temperatures.</li>
        </ul><br>
        <h2>Can thyroid issues make me lose my hair?</h2><br>
        <p>
            Hair loss is a symptom of thyroid disease, particularly hypothyroidism. If you start to experience hair loss
            and are concerned about it, talk to your healthcare provider.
        </p><br>
        <h2>Can thyroid issues cause seizures?</h2><br>
        <p>
            In most cases, thyroid issues don’t cause seizures. However, if you have a very severe cases of
            hypothyroidism that hasn’t been diagnosed or treated, your risk of developing low serum sodium goes up. This
            could lead to seizures.
        </p><br>
        <h2>Diagnosis and Tests</h2><br>
        <h2>How is thyroid disease diagnosed?</h2><br>
        <p>
            Sometimes, thyroid disease can be difficult to diagnose because the symptoms are easily confused with those
            of other conditions. You may experience similar symptoms when you are pregnant or aging and you would when
            developing a thyroid disease. Fortunately, there are tests that can help determine if your symptoms are
            being caused by a thyroid issue. These tests include:
        </p><br>
        <ul>
            <li>Blood tests.</li>
            <li>Imaging tests.</li>
            <li>Physical exams.</li>
        </ul><br>
        <h2>Blood tests</h2><br>
        <p>
            One of the most definitive ways to diagnose a thyroid problem is through blood tests. Thyroid blood tests
            are used to tell if your thyroid gland is functioning properly by measuring the amount of thyroid hormones
            in your blood. These tests are done by taking blood from a vein in your arm. Thyroid blood tests are used to
            see if you have:
        </p><br>
        <ul>
            <li>Hyperthyroidism</li>
            <li>Hypothyroidism</li>
        </ul><br>
        <p>
            Thyroid blood tests are used to diagnose thyroid disorders associated with hyper- or hypothyroidism. These
            include:
        </p><br>
        <ul>
            <li>Thyroiditis.</li>
            <li>Graves’ disease.</li>
            <li>Hashimoto’s disease.</li>
            <li>Goiter.</li>
            <li>Thyroid nodule.</li>
            <li>Thyroid cancer.</li>
        </ul><br>

        <p>
            The specific blood tests that will be done to test your thyroid can include:
        </p><br>

        <ul>
            <li><b>Thyroid-stimulating hormone (TSH)</b> is produced in the pituitary gland and regulates the balance of
                thyroid hormones — including T4 and T3 — in the bloodstream. This is usually the first test your
                provider will do to check for thyroid hormone imbalance. Most of the time, thyroid hormone deficiency
                (hypothyroidism) is associated with an elevated TSH level, while thyroid hormone excess
                (hyperthyroidism) is associated with a low TSH level. If TSH is abnormal, measurement of thyroid
                hormones directly, including thyroxine (T4) and triiodothyronine (T3) may be done to further evaluate
                the problem. Normal TSH range for an adult: 0.40 - 4.50 mIU/mL (milli-international units per liter of
                blood).</li>
            <li><b>T4: Thyroxine </b>tests for hypothyroidism and hyperthyroidism, and used to monitor treatment of
                thyroid disorders. Low T4 is seen with hypothyroidism, whereas high T4 levels may indicate
                hyperthyroidism. Normal T4 range for an adult: 5.0 – 11.0 ug/dL (micrograms per deciliter of blood).
            </li>
            <li><b>FT4: Free T4 or free thyroxine</b> is a method of measuring T4 that eliminates the effect of proteins
                that naturally bind T4 and may prevent accurate measurement. Normal FT4 range for an adult: 0.9 - 1.7
                ng/dL (nanograms per deciliter of blood)</li>
            <li><b>T3: Triiodothyronine</b> tests help diagnose hyperthyroidism or to show the severity of
                hyperthyroidism. Low T3 levels can be observed in hypothyroidism, but more often this test is useful in
                the diagnosis and management of hyperthyroidism, where T3 levels are elevated. Normal T3 range: 100 -
                200 ng/dL (nanograms per deciliter of blood).</li>
            <li><b>FT3: Free T3 or free triiodothyronine</b> is a method of measuring T3 that eliminates the effect of
                proteins
                that naturally bind T3 and may prevent accurate measurement. Normal FT3 range: 2.3 - 4.1 pg/mL
                (picograms per milliliter of blood)</li>
        </ul><br>
        <p>
            These tests alone aren’t meant to diagnose any illness but may prompt your healthcare provider to do
            additional testing to evaluate for a possible thyroid disorder.
        </p><br>
        <p>Additional blood tests might include: </p><br>
        <ul>
            <li><b>Thyroid antibodies:</b> These tests help identify different types of autoimmune thyroid conditions.
                Common
                thyroid antibody tests include microsomal antibodies (also known as thyroid peroxidase antibodies or TPO
                antibodies), thyroglobulin antibodies (also known as TG antibodies), and thyroid receptor antibodies
                (includes thyroid stimulating immunoglobulins [TSI] and thyroid blocking immunoglobulins [TBI]).</li>
            <li><b>Calcitonin:</b> This test is used to diagnose C-cell hyperplasia and medullary thyroid cancer, both
                of which are rare thyroid disorders.</li>
            <li><b>Thyroglobulin:</b> This test is used to diagnose thyroiditis (thyroid inflammation) and to monitor
                treatment of thyroid cancer.</li>
        </ul><br>
        <p>
            Talk to your healthcare provider about the ranges for these thyroid blood tests. Your ranges might not be
            the same as someone else’s. That’s often alright. If you have any concerns or worries about your blood test
            results, talk to your provider.
        </p><br>
        <h2>Imaging tests</h2><br>
        <p>In many cases, taking a look at the thyroid itself can answer a lot of questions. Your healthcare provider
            might do an imaging test called a thyroid scan. This allows your provider to look at your thyroid to check
            for an increased size, shape or growths (nodules).
        </p><br>
        <p>
            Your provider could also use an imaging test called an ultrasound. This is a diagnostic procedure that
            transmits high-frequency sound waves, inaudible to the human ear, through body tissues. The echoes are
            recorded and transformed into video or photographic images. You may think of ultrasounds related to
            pregnancy, but they are used to diagnose many different issues within your body. Unlike X-rays, ultrasounds
            do not use radiation.
        </p><br>
        <p>
            There’s typically little or no preparation before your ultrasound. You don’t need to change your diet
            beforehand
            or fast. During the test, you’ll lie flat on a padded examining table with your head positioned on a pillow
            so
            that your head is tilted back. A warm, water-soluble gel is applied to the skin over the area that’s being
            examined. This gel won’t hurt your skin or stain your clothes. Your healthcare provider will then apply a
            probe
            to your neck and gently move it around to see all parts of the thyroid.
            <br>An ultrasound typically takes about 20 to 30 minutes.
        </p><br>

        <h2>Physical exam</h2><br>
        <p>
            Another way to quickly check the thyroid is with a physical exam in your healthcare provider’s office. This
            is a very simple and painless test where your provider feels your neck for any growths or enlargement of the
            thyroid.
        </p><br>

        <h2>Management and Treatment </h2><br>
        <h2>How is thyroid disease treated?</h2><br>
        <p>
            Your healthcare provider’s goal is to return your thyroid hormone levels to normal. This can be done in a
            variety of ways and each specific treatment will depend on the cause of your thyroid condition.
            <br>If you have high levels of thyroid hormones (hyperthyroidism), treatment options can include:
        </p><br>
        <ul>
            <li><b>Anti-thyroid drugs (methimazole and propylthioracil):</b>These are medications that stop your thyroid
                from making hormones. </li>
            <li><b>Radioactive iodine:</b> This treatment damages the cells of your thyroid, preventing it from making
                high levels of thyroid hormones. </li>
            <li><b>Beta blockers:</b> These medications don’t change the amount of hormones in your body, but they help
                control your symptoms. </li>
            <li><b>Surgery:</b> A more permanent form of treatment, your healthcare provider may surgically remove your
                thyroid (thyroidectomy). This will stop it from creating hormones. However, you will need to take
                thyroid replacement hormones for the rest of your life. </li>
        </ul><br>
        <p>
            If you have low levels of thyroid hormones (hypothyroidism), the main treatment option is:
        </p><br>
        <ul>
            <li>Thyroid replacement medication: This drug is a synthetic (man-made) way to add thyroid hormones back
                into your body. One drug that’s commonly used is called levothyroxine. By using a medication, you can
                control thyroid disease and live a normal life. </li>
        </ul><br>

        <h2>Are there different types of thyroid removal surgery?</h2><br>
        <p>
            If your healthcare provider determines that your thyroid needs to be removed, there are a couple of ways
            that can be done. Your thyroid may need to be completely removed or just partially. This will depend on the
            severity of your condition. Also, if your thyroid is very big (enlarged) or has a lot of growths on it, that
            could prevent you from being eligible for some types of surgery.
            <br>The surgery to remove your thyroid is called a thyroidectomy. There are two main ways this surgery can
            be done:
        </p><br>

        <ul>
            <li>With an incision on the front of your neck.</li>
            <li>With an incision in your armpit.</li>
        </ul><br>
        <p>
            The incision on the front of your neck is more of the traditional version of a thyroidectomy. It allows your
            surgeon to go straight in and remove the thyroid. In many cases, this might be your best option. You may
            need this approach if your thyroid is particularly big or has a lot of larger nodules.
            <br>Alternatively, there is a version of the thyroid removal surgery where your surgeon makes an incision in
            your armpit and then creates a tunnel to your thyroid. This tunnel is made with a special tool called an
            elevated retractor. It creates an opening that connects the incision in your armpit with your neck. The
            surgeon will use a robotic arm that will move through the tunnel to get to the thyroid. Once there, it can
            remove the thyroid back through the tunnel and out of the incision in your armpit.
            <br>This procedure is often called scarless because the incision is under your armpit and out of sight.
            However, it’s more complicated for the surgeon and the tunnel is more invasive for you. You may not be a
            candidate for this type of thyroid removal if you:
        </p><br>
        <ul>
            <li>Are not at a healthy body weight. </li>
            <li>Have large thyroid nodules. </li>
            <li>Have a condition like thyroiditis or Graves’s disease.</li>
        </ul><br>
        <p>
            Talk to your about all of your treatment options and the best type of surgery for you.
        </p><br>

        <h2>How long does it take to recover from thyroid surgery (thyroidectomy)?</h2><br>
        <p>
            It will take your body a few weeks to recover after your thyroid is surgically removed (thyroidectomy).
            During this time you should avoid a few things, including:
        </p><br>
        <ul>
            <li>Submerging your incision under water. </li>
            <li>Lifting an object that’s heavier than 15 pounds.</li>
            <li>Doing more than light exercise.</li>
        </ul><br>
        <p>This generally lasts for about two weeks. After that, you can return to your normal activities.</p>

        
    </article>

    <section id="footer">
        <div class="social-links">
            <a href="https://github.com/Ganesh-Thorat-01" target="_blank"><i class="fa fa-github"></i></a>
            <a href="mailto:thorat.ganeshscoe@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
            <a href="https://www.instagram.com/ganesh_thorat__/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/Ganesh_Thorat_" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCXhvVTaw3a8onPxwv2TbwUw" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <p>&copy; Copyright 2022 Ganesh Thorat</p>
        </div>
    </section>
</body>

</html>